body {
	font-family: "Roboto", helvetica, sans-serif;
	background-color: #2b9def;
}

.image {
	width: 164px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo {
	height: 35px;
}

.box {
	width: 400px;
	margin: auto;
}

.sign-up {
background-color: white;
border: solid 1px #ccc5c5;
border-radius: 5px;
padding: 40px 40px 40px 40px;
height: 420px;
}

legend {
	margin-bottom: 15px;
	width: 50%;
	margin: auto;
	font-size: 35px;
	font-weight: 100;
	text-align: center;
	padding-bottom: 50px;
}

::-webkit-input-placeholder { 
  color: rgba(128, 128, 128, 0.75);
}

::-moz-placeholder {
  color: rgba(128, 128, 128, 0.75);
}
:-ms-input-placeholder { 
  color: rgba(128, 128, 128, 0.75);
}

:-moz-placeholder { 
  color: rgba(128, 128, 128, 0.75);
}


.email {
	width: 285px;
	background-color: white;
	padding: 15px;
	font-size: larger;
	margin-top: 15px;
	margin-bottom: 15px;
}

.password {
	width: 285px;
	background-color: white;
	padding: 15px;
	font-size: larger;
	margin-top: 20px;
	margin-bottom: 20px;
}

.forgot_password {
	width: 50%;
	margin: auto;
	text-align: center;
}

.white {
	color: rgba(128, 128, 128, 0.75);
}

.submit {
	width: 320px;
	background-color: #15CD72;
	border: 0;
	border-radius: 3px;
	padding: 15px;
	color: white;
	font-size: larger;
	margin-top: 20px;
	margin-bottom: 20px;
}

.existing_account {
	width: 50%;
	margin: auto;
	text-align: center;
	color:	white;
}

.login {
	color: white;
}
